$material-light: (
  'background': #FFFEFB
);

$body-font-family: 'Alegreya Sans SC',  sans-serif;
$font-size-root: 16px;

/*
ako overrideam npr. h1 to je kao da sam overrideala display-4, h2 je za display-3, h3 za display-2, h4 za display-1, h5 za headline i h6 za title
znaci ne mogu direkt odredit velicinu za h1

$headings: () !default;
$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  )
);

*/
