@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap");

$material-light: (
  "background": #fffefb,
  "text": (
    "primary": #445462,
    "secondary": #6d7984
  )
);

$body-font-family: "Alegreya Sans SC", sans-serif;
$font-size-root: 20px;
$headings-font-family: $body-font-family;

$breadcrumbs-item-font-size: 25px;
